.color {
	padding: 1rem 2rem;
	cursor: pointer;
	font-size: 1rem;
	text-transform: none;
}
.percentage-value {
	margin-bottom: 0;
	color: gray;
	text-align: center;
}

.color-value {
	color: gray;
	margin-bottom: 0;
	text-align: center;
}
.color-light .color-value {
	color: rgb(34, 29, 29);
}
.color-light .percentage-value {
	color: rgb(172, 156, 156);
}

.alert {
	text-transform: uppercase;
	font-size: 0.85rem;
	margin-top: 0.5rem;
}
